
    [ req ]
    default_bits       = 2048
    prompt             = no
    distinguished_name = req_distinguished_name
    req_extensions     = v3_req

    [ req_distinguished_name ]
    C  = BR
    ST = Sao Paulo
    L  = Sao Paulo
    O  = Exemplo LTDA
    OU = TI
    CN = joao
    serialNumber = 123.456.666-00

    [ v3_req ]
    keyUsage = digitalSignature, keyEncipherment
    extendedKeyUsage = serverAuth, clientAuth
    subjectAltName = @alt_names

    [ alt_names ]
    DNS.1 = joao.exemplo.local
email.1 = joao@example.com
    